<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3"
        >
  <a class="navbar-brand" href="#">OQC Part</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#item-1">Instrument</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-1-1">Starlet</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Nimbus</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">CFX96</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Aios</a>
    </nav>
    <a class="nav-link" href="#item-2">Setting</a>
    <a class="nav-link" href="#item-3">계측기</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-3-1">계측기1</a>
      <a class="nav-link ms-3 my-1" href="#item-3-2">계측기2</a>
    </nav>
  </nav>
</nav>

